.container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.children {
  display: flex;
  flex-direction: column;
  overflow: auto;
  min-height: 280px;
  padding: 2%;
  background: #fff;
}
